.btnLight01 {
    background-color: white;
    border: none;
    border-radius: 18px;
    text-decoration: none;
    font-size: 24px;
    width: 9em;
    height: 2.5em;
    color: $primary-color;
    padding-top: .6em;

    text-align: center;
    margin: auto;
    display: flex;
    display: grid;

    margin-top: 2em;
    cursor: pointer;
}

.btnLight02 {
    background-color: white;
    border: none;
    border-radius: 18px;
    text-decoration: none;
    font-size: 24px;
    width: 9em;
    height: 2.5em;
    color: $light-color;
    padding-top: .6em;

    text-align: center;
    margin: auto;
    display: flex;
    display: grid;

    margin-top: 2em;
}

.motorbike-Btn {
    background-color: white;
    border: none;
    border-radius: 12px;
    text-decoration: none;
    font-size: 16px;
    width: 9em;
    height: 2.5em;
    color: $light-color;
    padding-top: .6em;

    text-align: center;
    margin: auto;
    display: flex;
    display: grid;

    margin-top: 2em;
}

.smallCar-Btn {
    background-color: white;
    border: none;
    border-radius: 12px;
    text-decoration: none;
    font-size: 16px;
    width: 9em;
    height: 2.5em;
    color: $light-color;
    padding-top: .6em;

    text-align: center;
    margin: auto;
    display: flex;
    display: grid;

    margin-top: 2em;
}

.largeCar-Btn {
    background-color: white;
    border: none;
    border-radius: 12px;
    text-decoration: none;
    font-size: 16px;
    width: 9em;
    height: 2.5em;
    color: $light-color;
    padding-top: .6em;

    text-align: center;
    margin: auto;
    display: flex;
    display: grid;

    margin-top: 2em;
}

.motorHome-Btn {
    background-color: white;
    border: none;
    border-radius: 12px;
    text-decoration: none;
    font-size: 16px;
    width: 9em;
    height: 2.5em;
    color: $light-color;
    padding-top: .6em;

    text-align: center;
    margin: auto;
    display: flex;
    display: grid;

    margin-top: 2em;
}

.lastBtn {
    background-color: white;
    border: none;
    border-radius: 18px;
    text-decoration: none;
    font-size: 24px;
    width: 9em;
    height: 2.5em;
    color: $primary-color;
    padding-top: .6em;

    text-align: center;
    margin: auto;
    display: flex;
    display: grid;

    margin-top: 2em;
}

#searchBtnLight01 {
    background-color: white;
    border: none;
    border-radius: 18px;
    text-decoration: none;
    font-size: 24px;
    width: 9em;
    height: 2.5em;
    color: $primary-color;
    padding-top: .6em;

    text-align: center;
    display: flex;
    display: grid;
}

#motorbike-Payment-Details-Btn {
    background-color: white;
    border: none;
    border-radius: 18px;
    text-decoration: none;
    font-size: 24px;
    width: 9em;
    height: 2.5em;
    color: $primary-color;
    padding-top: .6em;

    text-align: center;
    margin: auto;
    display: flex;
    display: grid;

    margin-top: 2em;
}

#motorbike-Personal-Details-Btn {
    background-color: white;
    border: none;
    border-radius: 18px;
    text-decoration: none;
    font-size: 24px;
    width: 9em;
    height: 2.5em;
    color: $primary-color;
    padding-top: .6em;

    text-align: center;
    margin: auto;
    display: flex;
    display: grid;

    margin-top: 2em;
}

#small-Payment-Details-Btn {
    background-color: white;
    border: none;
    border-radius: 18px;
    text-decoration: none;
    font-size: 24px;
    width: 9em;
    height: 2.5em;
    color: $primary-color;
    padding-top: .6em;

    text-align: center;
    margin: auto;
    display: flex;
    display: grid;

    margin-top: 2em;
}

#small-Personal-Details-Btn {
    background-color: white;
    border: none;
    border-radius: 18px;
    text-decoration: none;
    font-size: 24px;
    width: 9em;
    height: 2.5em;
    color: $primary-color;
    padding-top: .6em;

    text-align: center;
    margin: auto;
    display: flex;
    display: grid;

    margin-top: 2em;
}

#large-Payment-Details-Btn {
    background-color: white;
    border: none;
    border-radius: 18px;
    text-decoration: none;
    font-size: 24px;
    width: 9em;
    height: 2.5em;
    color: $primary-color;
    padding-top: .6em;

    text-align: center;
    margin: auto;
    display: flex;
    display: grid;

    margin-top: 2em;
}

#large-Personal-Details-Btn {
    background-color: white;
    border: none;
    border-radius: 18px;
    text-decoration: none;
    font-size: 24px;
    width: 9em;
    height: 2.5em;
    color: $primary-color;
    padding-top: .6em;

    text-align: center;
    margin: auto;
    display: flex;
    display: grid;

    margin-top: 2em;
}

#home-Payment-Details-Btn {
    background-color: white;
    border: none;
    border-radius: 18px;
    text-decoration: none;
    font-size: 24px;
    width: 9em;
    height: 2.5em;
    color: $primary-color;
    padding-top: .6em;

    text-align: center;
    margin: auto;
    display: flex;
    display: grid;

    margin-top: 2em;
}

#home-Personal-Details-Btn {
    background-color: white;
    border: none;
    border-radius: 18px;
    text-decoration: none;
    font-size: 24px;
    width: 9em;
    height: 2.5em;
    color: $primary-color;
    padding-top: .6em;

    text-align: center;
    margin: auto;
    display: flex;
    display: grid;

    margin-top: 2em;
}



